body {
    background: #5da2d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

div {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgb(107, 69, 25);
}

h1 {
    color: #9c7127;
    text-align: center;
    margin-top: 0;
    font-size: 32px;
}

h2 {
    color: #0095ff;
    border-bottom: 2px solid #0095ff;
    padding-bottom: 5px;
    margin-top: 25px;
}

img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(226, 146, 81, 0.829);
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 12px;
    border-bottom: 1px solid #f0f0f0;
    color: #444;
    background: #fafafa;
    margin: 4px 0;
    border-radius: 8px;
}

li:last-child {
    border-bottom: none;
}

.note {
    background: #f3cc8c;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #f55804;
    font-weight: bold;
    margin-top: 30px;
    border: 1px solid #bea174;
}